.h2-tecst{
    border: 2px solid red;
    width: 1200px;
    margin: auto;
    text-align: center;
    background-color: rgb(72, 8, 114);
    color: azure;
    margin-top: 30px;
    border-radius: 10px;

}